/* Styles are kept to a minimum in the event that
anyone would want to copy and paste the code into
their website or project */

#displayDate {
	border: 2px solid #000;
	height: 50px;
	width: 250px;
	text-align: center;
	margin-top: 10px;
	vertical-align: center;
	}